@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

.sr--only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.font_light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.font_regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.font_italic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font_semibold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.font_bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.reset_button_appearance {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.container {
    @media #{$not-tablet} {
        max-width: 100%;
    }
    @media #{$desktop} {
        max-width: 1140px;
    }
    @media #{$wide} {
        max-width: 1424px;
    }
}

.mb30 {
    margin-bottom: 30px;
}